{{!-- The following component displays Ember's default welcome message. --}}
<div class="ui container"><br>
  
<div class="ui red segment"><h1>Project BigBrain: Boards</h1></div>
{{!-- Feel free to remove this! --}}

{{outlet}}
</div>
